{% extends "layout.html" %}
{% block content %}
<div class="mt-4 pt-4 container">
    <div class="">
        <form class="needs-validation" action="" method="POST"  autocomplete="off">
                <select id="maker" name="maker" class="select form-control" required>
                    <option value="" name="maker-default" disabled selected>Maker</option>

                    {% for m in makers %}
                    <option value={{ m[0] }} name="maker-{{ m[1] }}">{{ m[2] }}</option>
                    {% endfor %}
                </select>
                <input type="textbox" id="link" name="link" class="form-control" placeholder="Raffle Link" required/>
                <input type="date" id="dateEntry" name="date" class="date form-control" value="{{ todayDate }}" placeholder="Date" required/>
                <input type="textarea" id="notes" name="notes" class="form-control" placeholder="Notes" />
                <label for="result" class="form-check-label">Result</label>
                <input type="checkbox" id="result" name="result" class="form-check-input" placeholder="" />
                <label for="notAnime" class="form-check-label" >Not Anime</label>
                <input type="checkbox" id="notAnime" name="notAnime" class="form-check-input" placeholder="" checked/>
                <button type="submit" class="btn-success">Add Entry</button>
        </form>
    </div>
</div>
{% endblock %}