{% extends "layout.html" %}
{% block content %}

<div class="my-5 container-fluid">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4 text-center h1">
            <a href="/calendar?year={{ links.prev.year }}&month={{ links.prev.month}}"><img src="{{ url_for('static', filename='img/prev.png') }}" alt="previous month" width="4%" /></a>
            {{ header.month }} {{ header.year }}
            <a href="/calendar?year={{ links.next.year }}&month={{ links.next.month}}"><img src="{{ url_for('static', filename='img/next.png') }}" alt="next month" width="4%" /></a>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        {% for day in days %}
        <div class="col">
            {{ day }}
        </div>
        {% endfor %}
    </div>
    <div class="row">
    {% for i in calendar %}
        <div class="col border border-dark rounded">
                {% if i[0] != 0 %}
                <div class="row border-bottom border-dark">
                    <div class="col">
                        {{ i[0] }}
                    </div>
                    <div class="col-lg-1 d-flex spoiler-text">
                        {{ entries[i[0]] | length }}
                    </div>
                </div>
                {% endif %}
            <div class="entries">
                {% for entry in entries[i[0]] %}
                <div id="entry-{{entry[0]}}" class="card text-center text-white my-1 {% if entry[4] == 1 %} bg-success {% else %} bg-danger {% endif %} bg-gradient" >
                    <div class="card-block p-1">
                        <h5 class="card-title text-trucate">{{ entry[3] }}</h5>
                        <a class="card-text text-white" href="/entry/{{entry[0]}}" title="{{entry[3]}}" >{{entry[2]}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if loop.index % 7 == 0 %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
<!-- (Column(name='maker', type_code=1043), Column(name='result', type_code=16), Column(name='epoch', type_code=23), Column(name='date', type_code=1082), Column(name='notes', type_code=25), Column(name='info', type_code=1043), Column(name='id', type_code=23), Column(name='mid', type_code=23), Column(name='shortname', type_code=1043)) -->
<!-- ('Nightcaps', True, 1641013200, datetime.date(2022, 1, 1), 'Entered for 5, want 57 types', 'https://docs.google.com/forms/u/0/d/e/1FAIpQLSeKzN9DhHyE2ynSAuTFM74uUI4SMwMI60HD5SvazvBS7jKxXg/formResponse', 9, 1, 'nightcaps') -->