{% extends "layout.html" %}
{% block content %}

<div class="mt-4 pt-4 container">
    {%= entries %}
</div>
{% endblock %}
<!-- (Column(name='maker', type_code=1043), Column(name='result', type_code=16), Column(name='epoch', type_code=23), Column(name='date', type_code=1082), Column(name='notes', type_code=25), Column(name='info', type_code=1043), Column(name='id', type_code=23), Column(name='mid', type_code=23), Column(name='shortname', type_code=1043)) -->
<!-- ('Nightcaps', True, 1641013200, datetime.date(2022, 1, 1), 'Entered for 5, want 57 types', 'https://docs.google.com/forms/u/0/d/e/1FAIpQLSeKzN9DhHyE2ynSAuTFM74uUI4SMwMI60HD5SvazvBS7jKxXg/formResponse', 9, 1, 'nightcaps') -->