{% extends "layout.html" %}
{% block content %}

<div class="mt-4 pt-4 container">
    <form class="needs-validation" action="" autocomplete="off" method="POST">
        <select id="maker" name="maker" class="select form-control">
            <option value="" disabled name="maker-default">Maker</option>

            {% for m in makers %}
            <option value={{ m[0] }} name="maker-{{ m[1] }}" {% if m[0]==entry[7] %} selected {% endif %}>{{ m[2] }}
            </option>
            {% endfor %}
        </select>
        <input type="textbox" id="link" name="link" class="form-control" value="{{ entry[5] }}"
            placeholder="Raffle Link" required/>
        <input type="date" id="date" name="date" class="form-control" value="{{entry[3]}}" placeholder="Date"required />
        <input type="textarea" id="notes" name="notes" class="form-control" value="{{ entry[4] }}"
            placeholder="Notes" />
        <div class="row mt-2">
            <div class="col-md-2">
                <label for="result" class="form-check-label">Result</label>
                <input type="checkbox" id="result" name="result" class="form-check-input" {% if entry[1] %} checked {%
                    endif %} />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success text-left">Update Entry</button>
            </div>
            <div class="col-md-6 float-end">
                <a class="btn btn-danger float-end" href="/delete/entry/{{entry[6]}}">Delete Entry</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}