{% extends "layout.html" %}
{% block content %}

<div class="mt-5 mb-5 pt-4 container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">
                            <div class="header">
                                {{maker[2]}}
                            </div>
                        </div>
                        <div class="card-body">
                            {% if maker[3] %}
                            {% if maker[3].startswith('https')%}<a href="{{maker[3]}}" target="_blank">Instagram</a>
                            {% else %}<a href="https://instagram.com/{{maker[3]}}" target="_blank">Instagram</a>{% endif
                            %}
                            {% endif%}
                        </div>
                        <div class="card-footer text-muted bg-grey">
                            <a class="btn btn-primary float-start" href="/edit/maker/{{maker[0]}}">Edit Maker</a>
                            <a class="btn btn-danger float-end" onclick="deleteMakerQuestion()">Delete Maker</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header background-color-grey">
                            Stats!
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">Entered:</div>
                                <div class="col-sm-9">{{maker_es|length}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">Wins:</div>
                                <div class="col-sm-9">{{maker_wins}} ({{ "%.2f"| format(win_perc)}}%)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for entry in maker_es %}
            <div class="mb-3">
                <div class="card">
                    <div class="card-header d-flex align-items-center ">
                        <div class="d-md-flex flex-md-row flex-column ms-auto">
                            <a href="/entry/{{entry[6]}}">{{ entry[3] }}</a>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            {{ entry[4] }}
                        </div>
                        <div class="text-center">
                            {% if entry[5].startswith('http') %}<a href="{{ entry[5]}}" target="_blank">{{entry[5]}}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer {{ 'result-green' if entry[1] else 'result-red'  }}">

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}