{% extends "layout.html" %}
{% block content %}

<div class="mt-5 pt-4 container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="header">{{maker[2]}}</div>
                    <a href="https://instagram.com/{{maker[3]}}" targer="_blank">Instagram</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for entry in maker_es %}
            <div class="mb-3">
            <div class="card">
                <div class="card-header d-flex align-items-center ">
                    <div class="d-md-flex flex-md-row flex-column ms-auto">{{ entry[3] }}</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        {{ entry[4] }}
                    </div>
                    <div class="text-center">
                        <a href="{{ entry[5]}}" target="_blank">{{entry[5]}}</a>
                    </div>
                </div>
                <div class="card-footer {{ 'result-green' if entry[1] else 'result-red'  }}">

                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}