.result-green {
    background-color: rgb(183, 243, 183);
}

.result-red {
    background-color: rgb(247, 191, 191);
}

.makers-card {
    width: 18rem;
}

.card-text {
    min-height: 75px;
}
.spoiler-text {
    color: transparent;
    cursor: grab;
    user-select: none;
    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
}

.spoiler-text:hover,
.spoiler-text:focus {
    background: #e8e8e8;
    color: inherit;
}

@media (min-width: 34em) {
    .maker-card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .maker-card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .maker-card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .maker-card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}