{% extends "layout.html" %}
{% block content %}
<div class="mt-4 pt-4 container">
    <form action="" method="POST">
        <input type="textbox" id="name" name="name" class="form-control" placeholder="Short Name" />
        <input type="textbox" id="display" name="display" class="form-control" placeholder="Display Name" />
        <input type="textbox" id="instagram" name="instagram" class="form-control" placeholder="Instagram" />

        <button type="submit" class="btn-success">Add Maker</button>
    </form>
</div>
{% endblock %}