{% extends "layout.html" %}
{% block content %}

<div class="mt-4 pt-4 container">
    <form action="" method="POST">
        <input type="textbox" id="name" name="name" class="form-control" value="{{maker[1]}}" placeholder="Short Name" />
        <input type="textbox" id="display" name="display" class="form-control" value="{{maker[2]}}" placeholder="Display Name" />
        <input type="textbox" id="instagram" name="instagram" class="form-control" value="{{maker[3]}}" placeholder="Instagram" />

        <button type="submit" class="btn-success">Update Maker</button>
    </form>
</div>

{% endblock %}