{% extends "layout.html" %}
{% block content %}

<div class="container">
    <form action="" method="POST">
        <select id="maker" name="maker" class="select form-control">
            <option value=-1 name="maker-default">Maker</option>

            {% for m in makers %}
            <option value={{ m[0] }} name="maker-{{ m[1] }}" {% if m[0]==entry[7] %} selected {% endif %}>{{ m[2] }}
            </option>
            {% endfor %}
        </select>
        <input type="textbox" id="link" name="link" class="form-control" value="{{ entry[5] }}"
            placeholder="Raffle Link" />
        <input type="date" id="date" name="date" class="form-control" value="{{entry[3]}}" placeholder="Date" />
        <input type="textarea" id="notes" name="notes" class="form-control" value="{{ entry[4] }}"
            placeholder="Notes" />
        <label for="result" class="form-check-label">Result</label>
        <input type="checkbox" id="result" name="result" class="form-check-input" {% if entry[1] %} checked {% endif
            %} />
        <button type="submit" class="btn-success">Add Entry</button>
    </form>
</div>
{% endblock %}