{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <h1 class="h1"> hi, you entered <span id="total-perc">{{ total }}</span> raffle{% if total != 1 %}s{% endif %}</h1>

    <table class="table bordered table-striped table-hover">
        <thead>
            <tr>
                <th>{{ headers[3].name | capitalize }}</th>

                <th>{{ headers[0].name | capitalize }}</th>
                <th>{{ headers[1].name | capitalize }}</th>
                <th>{{ headers[5].name | capitalize }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td id="date-{{ entry[6]}}" name="date" class="date" width="10%"><a href="/entry/{{entry[6]}}">{{ entry[3] }}</a></td>

                <td id="display-{{ entry[6]}}" name="display" class="display" width="25%">{{ entry[0] }}</td>
                <td id="result-{{ entry[6]}}" name="result" class="result" width="10%">{% if entry[1] == 0 %}L{% else
                    %}W{% endif %}</td>
                <td id="link-{{ entry[6]}}" name="link" class="link" width="35%"><a class="href notes" name="notes"
                        id="notes" href="{{ entry[5] }}" target="_blank">{{ entry[4] }}</a></td>
                <td id="button-{{ entry[6]}}" name="button" class="button" width="8%">
                    <a class="btn btn-secondary" onclick="toggleResult({{ entry[6] }}, {{ 1 if entry[1] else 0 }})">🐬Result</a></td>
                <td id="button-{{ entry[6]}}" name="button" class="button" width="7%">
                    <a class="btn btn-warning" href="/edit/entry/{{ entry[6] }}">Edit</a>
                </td>

                {% for e in entry %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}